<% include ./partials/header %>

<div class="ui main text container inverted segment">
    <div class="ui huge header"><%= blog.title %></div>
    <div class="ui top attached inverted">
        <div class="item">
            <img class="ui centered rounded image" src="<%= blog.image %>">
            <div class="content">
                <span><%= blog.created.toDateString() %></span>
            </div>
            <div class="descriptopn">
                <p> <%= blog.content %></p>
            </div>
            <form class="ui form" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
                <div class="field">
                    <button class="ui red basic big button inverted" type="submit">Delete</button>
                </div>
            </form>
        </div>

    </div>


</div>

<% include ./partials/footer %>